<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>
    <h1>Student Management</h1>

    <form>
        <input type="text" placeholder="Student Name">
        <input type="text" placeholder="Course">
        <button>Add Student</button>
    </form>

    <h2>Student List</h2>

    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>John Smith</td>
            <td>Computing</td>
            <td>Edit | Delete</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Maria Jones</td>
            <td>Business</td>
            <td>Edit | Delete</td>
        </tr>
        <tr>
<td>3</td>
<td>David Brown</td>
<td>Cyber Security</td>
<td>Edit | Delete</td>
</tr>

<tr>
<td>4</td>
<td>Sarah White</td>
<td>Business</td>
<td>Edit | Delete</td>
</tr>

<tr>
<td>5</td>
<td>Ahmed Khan</td>
<td>Software Engineering</td>
<td>Edit | Delete</td>
</tr>
    </table>

    <br>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>